*.iml
*.iws
*.ipr
.idea/
.gradle/
gradle/
gradlew
gradlew.bat
local.properties

*/build/*
*/intermediates/*
.sobrr/build/intermediates/*
*/cache.xml
*.bin

*~
*.swp
.DS_Store
.jar

Remove file from git source control but not delete it from drive 